@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Inter:wght@300;400;500;600;700&family=VT323&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  background-color: #EBEAE5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  margin: 0 auto;
}

.hero__link {
  color: #252525;
  font-family: Inter;
  font-size: 31px;
  font-weight: 600;
  line-height: 114.972%; /* 35.641px */
  letter-spacing: -2.325px;
  text-decoration: none;
}
.hero__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__container {
  height: 771px;
  max-width: 1350px;
  padding: 0 30px;
  margin-top: 57px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  margin-bottom: 83px;
}
.hero__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__links-right {
  text-align: right;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__title {
  color: #252525;
  font-family: VT323;
  font-size: 138px;
  font-weight: 400;
  line-height: 114.972%; /* 158.661px */
  letter-spacing: -4.14px;
}
.hero__button {
  max-width: 173px;
  border-radius: 16px;
  color: #E58CC5;
  border: 3px solid #E58CC5;
  padding: 15px 30px;
  font-family: Inter;
  font-size: 31px;
  font-weight: 400;
  line-height: 114.972%; /* 35.641px */
  text-decoration: none;
}
.hero__button:hover {
  opacity: 0.5;
}
.hero__cards {
  position: absolute;
}
.hero__image {
  max-width: 120px;
  max-height: 162px;
  position: absolute;
  background: transparent;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
  opacity: 0; /* Начальная непрозрачность */
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 776px) {
  .hero__cards {
    display: none;
  }
  .hero__title {
    font-size: 100px;
  }
  .hero__link {
    font-size: 24px;
  }
  .hero__button {
    font-size: 24px;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 700px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 273px;
}
.card__main {
  padding: 20px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 58px;
  border-bottom: 2px solid #E58CC5;
}
.card__left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__title {
  color: var(--, #252525);
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  line-height: 114.972%; /* 27.593px */
  letter-spacing: -1.44px;
}
.card__number {
  color: var(--, #252525);
  font-family: Bodoni Moda;
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: 114.972%; /* 73.582px */
  letter-spacing: -3.84px;
}
.card__aside {
  max-width: 248px;
  padding: 20px;
  padding-right: 12px;
  gap: 6px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E58CC5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 2px solid #EBEAE5;
}
.card__type {
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  line-height: 114.972%; /* 27.593px */
  letter-spacing: -1.44px;
}
.card__description {
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 114.972%; /* 13.797px */
  letter-spacing: -0.72px;
}
.card__date {
  margin-top: auto;
  color: #FFF;
  font-family: Bodoni Moda;
  font-size: 31.014px;
  font-style: italic;
  font-weight: 400;
  line-height: 114.972%; /* 35.657px */
  letter-spacing: -1.861px;
}

.about-us__container {
  background-image: url("../img/about/Circle img.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width: 1360px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  padding: 0 20px;
}
.about-us__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.about-us__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.about-us__pretitle {
  color: #252525;
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  line-height: 114.972%; /* 27.593px */
  letter-spacing: -1.44px;
}
.about-us__text {
  color: #252525;
  font-family: Inter;
  font-size: 31px;
  line-height: 114.972%; /* 35.641px */
  letter-spacing: -2.325px;
  text-transform: uppercase;
  max-width: 360px;
}
.about-us__date {
  margin-top: auto;
  color: #252525;
  font-family: Bodoni Moda;
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: 114.972%; /* 73.582px */
  letter-spacing: -3.84px;
}
.about-us__credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #E58CC5;
  max-width: 700px;
  height: 789px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}
.about-us__title {
  -ms-flex-item-align: center;
      align-self: center;
  color: #FFFFFF;
  text-align: center;
  font-family: VT323;
  font-size: 138px;
  font-weight: 400;
  line-height: 60%; /* 82.8px */
  letter-spacing: -4.14px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .about-us__container {
    background-image: none;
    background-position: 50% 50%;
    max-width: 1360px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .about-us__decor {
    display: none;
    gap: 40px;
  }
  .about-us__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
  }
  .about-us__title {
    font-size: 60px;
  }
}/*# sourceMappingURL=styles.css.map */