.date {
    color: #FFF;
    font-family: Inter;
    margin-top: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 31px !important;
    

    &__day {


        color: $secondary_text;
        font-family: Inter;
        font-weight: 400;
        line-height: 114.972%; /* 73.582px */
        letter-spacing: -3.84px;
        &-end{
            margin-right: 10px;
        }
        &-start{
            margin-right: 5px;
        }
    }
}
    

.open-card {
    &__footer{
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 200;
        line-height: 114.972%; /* 55.186px */
        letter-spacing: -2.88px;
    }
    &-date {
        display: flex;
        justify-content: flex-end;

        align-items: center;
        text-align: center;
        color: $secondary_text;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;

        line-height: 114.972%; /* 55.186px */
        letter-spacing: -2.88px;


        // }
        .date__month {
            color: #FFF;
            font-family: Inter;
            font-size: 48px;
            font-weight: 200;
            text-align: end;
        }
    }
}