.filters {
    font-family: Inter;

    &__container {
        max-width: 1400px;

        margin: 0 auto;
        margin-bottom: 29px;
    }
    &__buttons {
        display: grid;
        grid-template-columns: repeat(auto-fill, 244px);
        justify-content: center;
        gap: 4px;

    }
}
.filter {
    &__elem {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $cards_popups;
        padding: 8px 20px;
        border-radius: 40px;

        color: #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 114.972%; /* 27.593px */
        letter-spacing: -1.44px;
        
        text-align: center;
    }
    &__button-radio {
        display: none;
        cursor: pointer;
    }
    &__active{  
        background-color: #fff;
        color: $cards_popups;
    }

}

    


.form__group div{
    width: 167px;
    button{

        display: flex;
        background: transparent;
        align-items: center;
        border: none;
        width: 100%;
        height: 44px;
        justify-content: center;
        .content{
            color: #fff;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 114.972%; /* 27.593px */
            letter-spacing: -1.44px;
        }
    }
}

.form-control[type=text]{
    display: none;
}

.dropdown-select{
    margin-top: 16px;
    width: 176px;
    height: 100%;

    text-align: center;
}

.list-group{
    padding: 8px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(3.25px);
    display: flex;
    flex-direction: column;
    gap: 3px;
}   

.list-group-item {
    color: #888;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    line-height: 114.972%; /* 27.593px */
    letter-spacing: -1.44px;

    border-bottom: 2px solid rgba(255, 255, 255);
    :focus-visible{
        color: $cards_popups;
    }
}

.list-group-item-primary{
    color: $cards_popups;
}
