.footer {
}
.about-us {
    &__container {
        background-image: url('../img/about/Circle img.svg');
        background-repeat:no-repeat ;
        background-position: 50% 50%;
        max-width: 1360px;
        display: grid;
        grid-template-columns:1fr 1fr;
        margin-bottom: 20px;
        padding: 0 20px;

    }
    &__decor {
        display: flex;
        gap: 40px;
    }
    &__column {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    &__pretitle {
        color: $main_text;
        font-family: Inter;
        font-size: 24px;
        font-weight: 300;
        line-height: 114.972%; /* 27.593px */
        letter-spacing: -1.44px;
    }
    &__text {
        color: $main_text;
        font-family: Inter;
        font-size: 31px;
        line-height: 114.972%; /* 35.641px */
        letter-spacing: -2.325px;
        text-transform: uppercase;
        max-width: 360px;
    }
    &__date {
        margin-top: auto;
        color: $main_text;
        font-family: Bodoni Moda;
        font-size: 64px;
        font-style: italic;
        font-weight: 400;
        line-height: 114.972%; /* 73.582px */
        letter-spacing: -3.84px;
    }
    &__credits {
        display: flex;
        flex-direction: column;
        background-color: $cards_popups;
        max-width: 700px;
        height: 789px;
        justify-content: space-around;
        margin: 0 auto;
    }
    &__title {
        align-self: center;
        color: $secondary_text;
        text-align: center;
        font-family: VT323;
        font-size: 138px;
        font-weight: 400;
        line-height: 60%; /* 82.8px */
        letter-spacing: -4.14px;
        text-transform: uppercase;
    }
}
//TODO
@media(max-width: 768px){
    .about-us {
        &__container {
            background-image: none;
            background-position: 50% 50%;
            max-width: 1360px;
            display: grid;
            grid-template-columns:1fr 1fr;
            margin-bottom: 20px;
            padding: 0 20px;
    
        }
        &__decor {
            display: none;
            gap: 40px;
        }
        &__column {
            display: flex;
            flex-direction: column;
            gap: 6px;

        }
        &__title{
            font-size: 60px;
        }
    }
}
