.form {
    background: $cards_popups;
    min-height: 100%;
    padding: 20px 40px;

    &__container{
        max-width: 1440px;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }

    &__fields{
        display: grid;
        grid-template-columns: repeat(auto-fit, 440px);
        justify-content: center;

        margin: 0 auto;
        gap: 20px;
    }
    &__info {
        padding: 20px;

        max-width: 400px;
        border-radius: 20px;
        background: rgba($background_color, .2);

        
        display: flex;
        flex-direction: column;
        gap: 12px;

    }
    &__field {

        textarea {
            box-sizing: border-box;

            border-radius: 20px;
            background-color: transparent;
            border: 1px solid $secondary_text;
            width: 100%;
            
            color: $secondary_text;
            font-family: Inter;
            font-size: 31px;
            font-weight: 400;
            line-height: 114.972%; /* 35.641px */
            letter-spacing: -1.86px;

            padding: 20px 15px;

            resize:none;

            &::placeholder{
                color: rgba(255, 255, 255, 0.30);
                font-family: Inter;
                font-size: 31px;
                font-style: normal;
                font-weight: 400;
                line-height: 114.972%; /* 35.641px */
                letter-spacing: -1.86px;
    
            }
        }
    }
    &__select {
        height: 86px;
        max-width: 400px;

        color: rgba(255, 255, 255, 0.60);
        font-family: Inter;
        font-size: 60px;
        font-weight: 500;
        line-height: 114.972%; /* 73.582px */
        letter-spacing: -4.8px;

        border: none;
        background: transparent;

        option{
            background: $cards_popups;
            font-size: 32px;
        }        

        &:hover{
            color: rgba(255, 255, 255, 0.90);;
        }


    }
    &__tag {
        input{
            display: none;
            cursor: pointer;
        }
    }
    &__button {
        margin-top: auto;
        width: 100%;
    }
    &__title{
        color: rgba(255, 255, 255, 0.60);
        font-family: Inter;
        font-size: 64px;
        font-weight: 500;
        line-height: 114.972%; /* 73.582px */
        letter-spacing: -4.8px;

        margin-bottom: 6px;
    }
}

input[type="checkbox"]:checked + label {
    color: #E58CC5;
  }


  @media (max-width: 500px) {
    .form {
        select{
            font-size: 40px;
            letter-spacing: -2px;
            max-width: 280px;
        }
        &__fields{
            grid-template-columns: repeat(auto-fit, 320px);
        }
        &__field{
            textarea {
                max-width: 320px;
                height: 7em;
                font-size: 20px;
            }
        }
        &__date{
            max-width: 280px;
        }
        &__tags{
            max-width: 240px;
        }
        &__button{
            max-width: 320px;
        }
        &__title{
            font-size: 42px;
            letter-spacing: -2px;
        }
        &__container{
            width: 100%;
            padding: 0px;
        }
    }
  }