.hero {
    &__link {
        color: $main_text;
        font-family: Inter;
        font-size: 31px;
        font-weight: 600;
        line-height: 114.972%; /* 35.641px */
        letter-spacing: -2.325px;
        text-decoration: none;
    }
    &__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__content{
        display: flex;
        align-items: center;
    }
    &__container {
        height: 771px;
        max-width: 1350px;

        padding: 0 30px;
        margin-top: 57px;
        display: grid;
        grid-template-columns: 15% 70% 15%;
        margin-bottom: 83px;
    }
    &__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-right{
            text-align: right;
        }
        
        &:hover{
            opacity: .8;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title {
        color: $main_text;
        font-family: VT323;
        font-size: 138px;
        font-weight: 400;
        line-height: 114.972%; /* 158.661px */
        letter-spacing: -4.14px;
    }
    
    &__cards {
        position: absolute;   
    }

    &__image{
        max-width: 120px;
        max-height: 162px;
        position: absolute;

        background: transparent;
        animation: fadeIn 1s ease-in;
        opacity: 0; /* Начальная непрозрачность */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 870px) {
    .hero{
        &__cards{
            display: none;
        }
        &__title{
            font-size: 100px;
        }
        &__link{
            font-size: 20px;
        }
    }
}
@media (max-width: 520px) {
    .hero{
        &__button{
            font-size: 20px !important;
            padding: 10px 15px  !important;
            max-width: 120px !important;
        }
    }
}